.cf6224bd4-842e-11e6-9506-04019a288d01 section#header {
  color: blue; }
  .cf6224bd4-842e-11e6-9506-04019a288d01 section#header a {
    background-color: red; }

.cf62254d3-842e-11e6-9506-04019a288d01 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .cf62254d3-842e-11e6-9506-04019a288d01 a {
    font-size: 4em;
    color: blue;
    border: 1px solid red;
    margin: 4px;
    padding: 4px; }
